/* Global */
body,
html,
#root {
  height: 100%;
}
.vheight-100 {
  min-height: calc(100% - 66.3px);
}

.below-nav {
  padding-top: 66.3px;
  background-color: #f5f5f5;
}

#title-main {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
}
