#login-form-root {
  height: 450px;
  width: 440px;
  margin: auto;
  padding: 3rem;
  margin-top: 10rem;
}

#login-title {
  margin-bottom: 5rem;
  font-weight: 600;
}

#btn-form-login {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #1976d2;
  margin-top: 2rem !important;
  border-radius: 7px;
}

#btn-form-login:hover {
  background-color: #1e88e5;
}
