#navbar {
  background-color: #eceff1;
}

#navbar-brand {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

#btn-login {
  border-radius: 30px;
  background-color: #1976d2;
  padding-right: 1.25rem;
}

#btn-login:hover {
  background-color: #1e88e5;
}
