.closed-question-card,
.open-question-card {
  width: 50rem;
  margin: 1rem;
  text-align: start;
}

.title-card {
  width: 837px;
  text-align: start;
  border-top-width: 10px;
  border-top-color: #1976d2;
  border-radius: 12px;
}

.question-card {
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(102, 102, 102, 0.45);
  border-left-width: 5px;
  border-left-color: transparent;
}

.question-card:focus-within,
.question-card:focus {
  border-left-width: 5px;
  border-left-color: #1976d2;
}

.question-template-header {
  padding-top: 1.5rem;
  text-align: start;
}

.checkbox-group {
  margin-left: 3rem;
  margin-right: 3rem;
}

.checkbox-group-template,
.radio-group-template {
}

.question-text {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
}

.custom-control-label {
  padding-left: 0.75rem;
}

#btn-add-answer {
  border-color: gainsboro;
}

#btn-delete-answer {
  margin-left: 1rem;
  color: #d50000;
}
#btn-delete-answer:hover {
  color: #d83e3e;
  cursor: pointer;
}

.btn-move-question {
  background-color: white;
  box-shadow: 0 2px 5px rgba(102, 102, 102, 0.45);
}

.card-header,
.card-footer {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: white;
}

.custom-select.is-valid,
.was-validated .form-control:valid,
.was-validated .form-control:valid:focus,
.custom-control-input.is-valid:checked,
.custom-control-input.is-valid {
  border-color: #adb5bd;
  box-shadow: unset;
  background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #adb5bd !important;
  padding-right: 12px;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  color: unset;
  border-color: #adb5bd;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  border-color: #adb5bd !important;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: unset;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
  border-color: #adb5bd;
  box-shadow: unset;
}

.form-control:disabled,
.form-control:disabled:focus,
.form-control[readonly] {
  background-color: white;
  box-shadow: unset;
  border-color: #ced4da;
  cursor: default;
  color: black;
}
