.survey-page {
  height: calc(100% - 81.3px);
  /* background-color: #f7f4f4; */
  background-color: #fafafa; 
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#label-user {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.mandatory::after {
  content: " *";
  color: red;
}
